<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Settings'" [items]="['Home']" [active_item]="'Settings'">
      </app-breadcrumb>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Bezpieczeństwo</strong> Ustawienia</h2>
      </div>
      <div class="body">
        <div class="example-container">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Aktualne hasło</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Nowe hasło</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Zapisz</button>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Konto</strong> Ustawienia</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Imię</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Nazwisko</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Miasto</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Kraj</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Addres</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary">Zapisz zmiany</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>