<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>zamknij</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="holidayForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nazwa Wakacji</mat-label>
            <input matInput formControlName="hName" required>
            <mat-icon matSuffix>article</mat-icon>
            <mat-error *ngIf="holidayForm.get('hName').hasError('required')">
              Nazwa Wakacji jest wymagana
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="holidayForm.get('date').hasError('required')">
              Proszę wybrać datę
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Lokalizacja</mat-label>
            <input matInput formControlName="location" required>
            <mat-icon matSuffix>place</mat-icon>
            <mat-error *ngIf="holidayForm.get('location').hasError('required')">
              Lokalizacja jest wymagana
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Zmiana</mat-label>
            <input matInput formControlName="shift" required>
            <mat-icon matSuffix>checklist</mat-icon>
            <mat-error *ngIf="holidayForm.get('shift').hasError('required')">
              Zmiana jest wymagana
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>detale</mat-label>
            <textarea matInput formControlName="details"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!holidayForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Zapisz</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Anuluj</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>