table {   
    width: 100%;  
}

.mat-cell {
    text-align: left;
    border: rgba(55, 55, 55) 1px solid;
}

.mat-header-cell {
    text-align: center;
    justify-content: center;
    border: rgba(55, 55, 55) 1px solid;
}
::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content: center;
}

.mat-header-cell {
    text-align: center;
}

.search-project{
    margin-left: 90%;
}
  

.name-column{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.name-column:hover{
    font-size: 15px;
}

.text-date-end{     
    border-bottom: rgba(55, 55, 55) 1px solid;
}

.text-name{
    margin-left: 1em;
    border-bottom: rgba(55, 55, 55) 1px solid;    
}

.text-name:hover{
    background-color: #222938;
}

.text-date-end{     
    border-bottom: rgba(55, 55, 55) 1px solid;
}

.text-edit{
    margin-left: 1em;
}